obj/
webserv

# googletest
test/googletest*
test/gtest

# lsp: clangd
compile_flags.txt

# temporary logs
log_webserv.txt

# pytest cache
test/system_test/tests/*/__pycache__

# venv
test/system_test/venv

# golang
test/stress_test/go

#k6
test/stress_test/k6
