.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	margin: 0 5%;
}

.button {
	display: block;
	width: 150px;
	background-color: #009cd3;
	color: #ffffff;
	font-size: 15px;
	text-align: center;
	line-height: 50px;
	margin: 20px 0;
	border-radius: 5px;
	border: 3px solid #009cd3;
	text-decoration: none;
}

.button:hover {
	text-decoration: none;
	background-color: #ffffff;
	color: #009cd3;
}

.button_page {
	width: 50px;
	background-color: #013521;
	color: #ffffff;
	font-size: 10px;
	display: block;
	text-align: center;
	line-height: 40px;
	margin: 10px;
	border-radius: 5px;
	border: 3px solid #013521;
	text-decoration: none;
}

.button_page:hover {
	text-decoration: none;
	background-color: #ffffff;
	color: #013521;
}

.books_list {
	display: block;
	align-items: center;
	font-size: 20%;
	padding: 0 10%;
}

.contents {
	display: grid;
	margin: 10%;
	grid-template-columns: repeat(3, 30%);
	gap: 5%;
	justify-content: center;
	align-items: center;
}

.book {
	display: flex;
	flex: 1;
	padding: 5%;
	border: 1px solid #ccc;
	margin-right: 5%;
	background-color: lightblue;
	justify-content: center;
	align-items: center;
}

.book ul {
	list-style-type: none;
	padding: 0;
	display: block;
	width: 100px;
}

.book_detail {
	display: flex;
	flex: 1;
	padding: 5%;
	border: 1px solid #ccc;
	margin: 3% 10% 5% 10%;
	background-color: orange;
	justify-content: center;
}

.book_detail img {
	margin: 10% 0 10% 0;
	width: 200px;
}

.book_detail ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0 5% 5% 0;
}

.book_detail ul li::before {
  content: attr(data-label);
  font-weight: bold;
  display: inline-block;
  width: 100px; /* ラベル部分の幅を調整 */
}

.book_detail ul li[data-label=""]:before {
  content: "";
  width: 0;
}

.pagination {
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1%;
	border: 1px solid #ccc;
	margin-right: 10px;
	background-color: #add8e6;
	white-space: nowrap;
}

header {
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
}

body {
    background-color: #f4f4f4;
}
