body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
	margin-bottom: 5%;
	text-align: center;
}

.form-container div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.button {
	display: block;
	width: 100%;
	background-color: #009cd3;
	color: #ffffff;
	font-size: 15px;
	text-align: center;
	line-height: 50px;
	margin: 20px 0;
	border-radius: 5px;
	border: 3px solid #009cd3;
	text-decoration: none;
}

.button:hover {
	text-decoration: none;
	background-color: #ffffff;
	color: #009cd3;
}

